.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5rem 10rem;
    background-image: url("../assets/banner1.jpg"); 
    background-size: cover;
    background-position: center; 
    min-height: 50vh;
    opacity: 2px;
    color: #EEEDEB;
    
  }
  
 

  .hero-content {
    display: flexbox;
    justify-content:space-between;
    align-items:flex-start;
    flex-direction: column;
    /* margin: 0px 0px 0px 300px; */
  }
  
  .hero-content h1 {
    font-size: 3rem;
    font-weight: bold; /* Increase font weight for better emphasis */
    margin-bottom: 1rem;
    text-align: center;
    
  }
  
  .hero-button {
    background-color: #FEFDED;
    padding: 1rem 2rem;;
    color: #ff8800;
    border: 5px rgba(239, 79, 5, 0.837);
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    font-size: larger;
    font-weight: bold;

  }
  .hero-button:hover{
    background-color: #C6EBC5;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.495);
  }