/* body{
  margin: 0;
  padding: 0;
  box-sizing:border-box ;
  font-family: monospace;
  
}
.container{
  width: 100vw;
  height: 100vh;
  background-color: #4F6F52;
} */
body{
  background-color: #D8AE7E;
}
h2{
  text-align: center;
}
.TrendingSection button{
  align-items: center;
  justify-content: center;
  display: flex;
  margin-left: 700px ;
}